@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 34 82% 95%;
    --foreground: 20 14% 4%;
    --card: 34 82% 95%;
    --card-foreground: 20 14% 4%;
    --popover: 34 82% 95%;
    --popover-foreground: 20 14% 4%;
    --primary: 45 70% 50%;
    --primary-foreground: 43 100% 11%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 20 14% 4%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 15 80% 40%;
    --accent-foreground: 60 9% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 60 9% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 45 70% 50%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --trail: 180 70% 50%;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 60 9% 98%;
    --card: 24 9.8% 10%;
    --card-foreground: 60 9% 98%;
    --popover: 0 0% 9%;
    --popover-foreground: 60 9% 98%;
    --primary: 45 70% 50%;
    --primary-foreground: 43 100% 11%;
    --secondary: 24 9.8% 10%;
    --secondary-foreground: 60 9% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 15 80% 40%;
    --accent-foreground: 60 9% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 45 70% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

.text-shadow-lg {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
